.table-view {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #444;
}

.table-view .column-header-background {
    -fx-background-color: #252525;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent #444 transparent transparent;
    -fx-size: 40;
}

.table-view .column-header .label {
    -fx-text-fill: #e0e0e0;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-text-fill: #d0d0d0;
    -fx-border-color: transparent #444 transparent transparent;
    -fx-padding: 4px;
}

.table-view .table-row-cell {
    -fx-background-color: #2a2a2a;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #303030;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #005a9e;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-text-fill: white;
}

.table-view .placeholder {
    -fx-text-fill: #b0b0b0;
    -fx-font-size: 1.5em;
}


/* ScrollBar */
.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
    -fx-background-color: #2a2a2a;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #555;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
}

.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button {
    -fx-background-color: #333;
    -fx-padding: 5;
}

/* MFXComboBox popup height */
.mfx-combo-box .combo-box-popup .list-view {
    -fx-max-height: 250px;
}
